p-graph/
**/__pycache__
indices
*.sh
*.out
*.tar
msmarco-passage.gbm25.affinity.128/
msmarco-passage.gbm25.1024/
msmarco-passage.gtcthnp.1024/
models/
aff-scored/
indices/
data/
plots/
results/
run_qrels/
scored_docs/
temp/
tmp/
.ipynb