p-graph/
quamv2/
**/__pycache__
indices
*.sh
*.out
*.tar
msmarco-passage.gbm25.affinity.128/
msmarco-passage.gbm25.1024/
msmarco-passage.gtcthnp.1024/
corpusgraph_k128/
models/
aff-scored/
indices/
data/
plots/
results/
run_qrels/
scored_docs/
temp/
tmp/
.ipynb
test_gar.py 
test_quam.py 
quam.py 
loss.py 
sign_test/
affinity_model.py 
bert_finetune.py
example.ipynb
gar_.py
plot_graphs.ipynb
graph_plots_utils.py
save_affinity_graph.py
training_data.py
bert_finetune.py
get_scores.py
librdtsc.so
saved_pyterrier_runs/
.vscode/
train_laff_Q.py
train_laff_wo_S.py
tct_retriever.py
laff_model/
