numpy==1.26.4
pandas==1.4.2
pyterrier-adaptive==0.0.1
pyterrier-alpha==0.3.0
pyterrier-dr==0.0.1
pyterrier-pisa==0.0.6
pyterrier-t5==0.0.1
python-terrier==0.10.0
pytrec-eval-terrier==0.5.6
tokenizers==0.15.2
torch==2.2.2
transformers==4.39.3
